/* ------Global------*/
body {
  font-family:"Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
}

/*Buttons*/
.generalBtn{

}
.editBtn{

}


/* ------Header------*/
header{
  display: block;
  height:70px;
  width: 100%;
  background-color: #6cafd9;
}
 header h1{
   text-align: center;
   line-height: 1.8;
   color: white;
 }

/* ------main------*/
.notesWrapper{
  height: 600px;
}
